*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

h1, h2{
    font-weight: normal;
}

html, body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

header{
    text-align: center;
}

header h1{
    padding-top: 2%;
    padding-bottom: 1%;
    /* border-bottom: 1px solid black; */
}


.nav-bar {
    display: flex;
    width: 60%;
    margin: auto;
    /* padding-top: -5px; */
    border-top: 1px solid black;
    }

.nav-bar li{
    text-decoration: none;
    display:inline-block;
    padding: 15px;
    margin: auto;
   }

.nav-bar a , p{
    text-decoration: none;
    color: black;
}

#banner{
    display: flex;
    width: 80%;
    position: relative;
    max-width: 800px;;
    height: 80%;

}

#banner img{
    margin: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1600ms;

}

#banner img.selected{
    opacity: 1;
}

#trabalhos{
    width: 100%;
    height: 100%;
}

.galeria{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.galeria h2{
    text-align: center;
    padding: 4% 0;
}

.dentro{
    height: 100%;
    display: flex;
}

.ld{
    height: 100%;
    width: 33%;
    padding: 1%;
}

.ld h2{
    text-align: justify;
}

.ld ul{
    list-style: none;
}

.ld img{
    padding: 2%;
    height: 50%;
    width: 100%;
    object-fit: center;
}


footer p{
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 570px){

    .nav-bar{
        display: inline-block;
    }

    .galeria{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    
    .galeria h2{
        text-align: center;
        padding: 4% 0;
    }
    
    .dentro{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .ld{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        padding: 5% 0;
    }

    .ld p{
        text-align: center;
        padding-top: 4%;
    }

    .ld h2{
        text-align: justify;
    }
    
    .ld img{
        height: 100%;
        width: 100%;
    }

    footer{
        display: flex;
        height: 10px;
        position: absolute ;
        bottom: -225%;
        padding-left: 17%;
    }

    footer > p{
        font-size: 15px;
    }
}